.BorderTag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 8px 8px 0px;
    width: 100px;
    min-height: 30px;
    max-height: fit-content;
    background-color: var(--WhiteDarkModeTextAndLightModeElements);
    box-shadow: 1px 1px 6px var(--DarkGrayLightModeInput);
    cursor: pointer;
}

.BorderTag .Tag  {
    margin: 0; 
    color: var(--VeryDarkBlueLightModeText);
}

/* ____________________________DARKMODE_________________________________ */

.BorderTag__darkMode {
    background-color: var(--DarkBlueDarkModeElements);
    box-shadow: 1px 1px 6px var(--VeryDarkBlueLightModeText);
}

.BorderTag__darkMode .Tag {
    color: var(--WhiteDarkModeTextAndLightModeElements);
}




