.CardCountry {
    padding-bottom: 40px;
    width: 90%;
}

.Image {
    width: 100%;
    margin-bottom: 40px;
}

.Image img {
    width: 100%;
    object-fit: cover;
}

.Content {

}

.Content div {
    margin-bottom: 20px;
}

.Content h3 {
    margin-bottom: 12px;
}

.Info3__Borders  {
    display: flex;
    flex-wrap: wrap;
}